bin/*

obj/*
bin/Release/net8.0/TournamentApp.deps.json
bin/Release/net8.0/TournamentApp.deps.json
bin/Release/net8.0/TournamentApp.dll
bin/Release/net8.0/TournamentApp.pdb
bin/Release/net8.0/publish/TournamentApp.deps.json
bin/Release/net8.0/publish/TournamentApp.dll
bin/Release/net8.0/publish/TournamentApp.pdb
obj/Debug/net8.0/project.razor.vscode.bin
obj/Debug/net8.0/TournamentApp.assets.cache
obj/Debug/net8.0/TournamentApp.csproj.FileListAbsolute.txt
obj/Release/net8.0/PublishOutputs.47ae9bb189.txt
obj/Release/net8.0/TournamentApp.AssemblyInfo.cs
obj/Release/net8.0/TournamentApp.AssemblyInfoInputs.cache
obj/Release/net8.0/TournamentApp.assets.cache
obj/Release/net8.0/TournamentApp.csproj.CoreCompileInputs.cache
obj/Release/net8.0/TournamentApp.csproj.FileListAbsolute.txt
obj/Release/net8.0/TournamentApp.dll
obj/Release/net8.0/TournamentApp.pdb
obj/Release/net8.0/TournamentApp.sourcelink.json
obj/Release/net8.0/ref/TournamentApp.dll
obj/Release/net8.0/refint/TournamentApp.dll
bin/Release/net8.0/TournamentApp.dll
bin/Release/net8.0/TournamentApp.dll
bin/Release/net8.0/TournamentApp.dll
bin/Release/net8.0/TournamentApp.pdb
bin/Release/net8.0/publish/TournamentApp.dll
bin/Release/net8.0/publish/TournamentApp.deps.json
bin/Release/net8.0/TournamentApp.deps.json
bin/Release/net8.0/publish/TournamentApp.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/TournamentApp.csproj.nuget.dgspec.json
obj/Debug/net8.0/TournamentApp.assets.cache
obj/Debug/net8.0/TournamentApp.csproj.FileListAbsolute.txt
obj/Release/net8.0/PublishOutputs.47ae9bb189.txt
obj/Release/net8.0/TournamentApp.AssemblyInfo.cs
obj/Release/net8.0/TournamentApp.AssemblyInfoInputs.cache
obj/Release/net8.0/TournamentApp.csproj.FileListAbsolute.txt
obj/Release/net8.0/TournamentApp.csproj.CoreCompileInputs.cache
obj/Release/net8.0/TournamentApp.assets.cache
obj/Release/net8.0/TournamentApp.dll
obj/Release/net8.0/TournamentApp.pdb
obj/Release/net8.0/TournamentApp.sourcelink.json
obj/Release/net8.0/ref/TournamentApp.dll
obj/Release/net8.0/refint/TournamentApp.dll
