@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
</head>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Hi! My name is Mr. Pepe Estrada and I will be your primary instructor. I am a 4th Degree Black Belt and have been training in Taekwondo for 19 years! I started with the Monk's when I was 8 years old and stayed with them as a student and instructor until I left for college. 
        Since returning to NWA, I have been working with Master Fairy Degener on my long term goals both as a martial artist and as an instructor. I am extremely excited to come back home to the Monk's and the new Fitness Center and I am looking forward to working with you!</p>
    <p>The information you submit in this document will help me gague interest in the program and allow me to keep you informed of our timeline. We are working hard to get classes up and running as soon as possible and we appreciate your understanding!</p>
    <form method="post" action="/Home/ThankYou">
        <input type="text" name="FirstName" placeholder="First Name" class="form-control" />
        <input type="text" name="LastName" placeholder="Last Name" class="form-control" />
        <input type="text" name="Email" placeholder="Email" class="form-control" />
        <input type="text" name="Phone" placeholder="Phone" class="form-control" />
        <input type="text" name="Age" placeholder="Age" class="form-control" />
        <input type="text" name="Belt" placeholder="Belt" class="form-control" />
        <input type="text" name="Suggestions" placeholder="Suggestions" class="form-control" />
        <input type="submit" value="Start Tournament" class="btn btn-primary" />
    </form>
</div>
