@{
    ViewData["Title"] = "Thank You";
}
<head>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
</head>
<div class="container">
    <h1>Thank You</h1>
    <p>Thank you for your input! We will updated as we get closer to starting classes!</p>
</div>